@media screen and (max-width: 950px) {  .category{ padding: 0 0.5rem; }  }
@media screen and (min-width: 950px) {  .category{ padding: 0 5rem; }  }
.category{
    background-color: #61dafb;
    grid-area: category;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.category > ul{
    max-width: 1000px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
}
.category > ul::-webkit-scrollbar{ display:none; }
.category >ul> li{
    background-color: #61dafb;
    margin-right: 1rem;
    font-size: 1.2rem;
    box-sizing: border-box;
}
.category >ul>li>a{
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.category>ul>li>.selected>span{ color: #222; }
.category>ul>li>a>span{ color:gray; }
.cate-name{ text-decoration-line: none; }
.cate-name:link{ color: black; }
.cate-name:visited{ color: black; }
.selected{ border-bottom: 2px solid #222; }